# --- Виртуальное окружение ---
myenv/
venv/
.venv/

# --- Файл с секретами (САМОЕ ВАЖНОЕ!) ---
.env

# --- Данные Docker (не должны быть в репозитории) ---
pg_data/
redis_data/

# --- Python кэш и мусор ---
__pycache__/
*.pyc

# --- Кэш и настройки IDE ---
.vscode/
.idea/

# --- Системный мусор ---
.DS_Store
Thumbs.db